html {
	scrollbar-width: none;
	-ms-overflow-style: none;
}


body {
	background-color: #C7C7C7;
	font-family: 'Roboto Condensed';
	box-sizing: border-box;
}

h1 {
	color: #F2F2F2;
	font-size: 36px;
	font-weight: 300;
	margin: 24px;
}

h2 {
	color: #1A1A1A;
	font-size: 36px;
	font-weight: 300;
	margin: 24px;
}

h4 {
	color: #1A1A1A;
	font-size: 30px;
	font-weight: 200;
	margin: 12px;
}

p {
	color: red;
}

.navbar{
	outline: 6px solid #1A1A1A;
	outline-offset: -3px;
	padding-top: 2px !important;
	padding-bottom: 0px !important;
	padding-left: 0px !important;
	padding-right: 0px !important;

}

@media (min-width: 768px) {
	.navbarRow{
		min-height: 73px;
	}
}

.navbarCol{
	height: auto;
}

.navbar-brand {
	color: #1A1A1A;
	font-size: 30px;
	font-weight: 300;
	margin-right: 0px;
	font-weight: 300;
}

.nav-item {
	font-size: 20px;
	font-weight: 300;
	margin-right: 8px;
	margin-left: 8px;
}

.navbar-nav{
	margin-right: 36px;
}

img {
	object-fit: cover;
	max-width:100%;
	min-height:100%;
	height: auto;
	width:auto;
	outline: 3px solid #1A1A1A;
	outline-offset: -3px;
}

video {
	object-fit: cover;
	max-width:100%;
	min-height:100%;
	height: auto;
	width:auto;
	outline: 3px solid #1A1A1A;
	outline-offset: -3px;
}

.blk {
	color: #1A1A1A;
}

.bgBlack {
	background-color: #1A1A1A !important;
}

.bgDGrey {
	background-color: #6E6E6E !important;
}

.bgMGrey {
	background-color: #C7C7C7 !important;
}

.bgLGrey {
	background-color: #F2F2F2 !important;
}

.bgWhite {
	background-color: #FFFFFF !important;
}

.bgLBlue {
	background-color: #5A7A81 !important;
}

.bgDBlue{
	background-color: #43585F !important;
}

.bgBeige{
	background-color: #DED7CF !important;
}

.row > div {
	outline: 3px solid #1A1A1A;
	outline-offset: -3px;
	background-size: cover;
}

.full-height{
	display: flex;
	height: 100vh;
	flex-direction: column;
}

.grow-height{
	flex: 1;
}

.centered-container{
	display: flex;
  	justify-content: center;
  	align-items: center;
}

.project-text-box{
	background-color: #43585F;
}

.image-spacer{
	background-color: #5A7A81;
}