html {
	scrollbar-width: none;
	-ms-overflow-style: none;
}


body {
	background-color: #C7C7C7;
	box-sizing: border-box;
}

h1 {
	color: #77685F;
	font-size: 36px;
	font-weight: 400;
	margin-top: 12px;
	margin-bottom: 24px;
}

.bg-d2 .h1{
	color: #443B36;
}

h2 {
	color: #443B36;
	font-size: min(36px, 9cqw);
	font-weight: 200;
	margin: 24px;
}

h3 {
	color: #77685F;
	font-size: 24px;
	font-weight: 400;
	margin-top: 24px;
	margin-bottom: 12px;
}
.bg-d2 .h3{
	color: #443B36;
}

h4 {
	color: #5E524B;
	font-size: min(30px, 7.5cqw);
	font-weight: 200;
	margin: 12px;
}

ul{
	margin-bottom: 0px;
	padding-left: 18px;
	list-style-type: '- ';
}

li{
	margin-bottom: 0.5rem;
	line-height: 125%;
}

.project-text-box{
	background-color: #F7F0E8;
	padding: calc(3cqw + 5px);
	container-type: inline-size;
	color: #5E524B;
}

.bg-d2 .project-text-box{
	color: #443B36;
}

.navbar{
	outline: 6px solid #443B36;
	outline-offset: -3px;
	padding-top: 2px !important;
	padding-bottom: 0px !important;
	padding-left: 0px !important;
	padding-right: 0px !important;

}

@media (min-width: 576px) {
	.navbarRow{
		min-height: 75px;
	}
}
.navbar-h{
	min-height: 75px;
}

.navbar-brand {
	color: #77685F;
	font-size: min(30px, 9cqw);
	font-weight: 300;
	margin-right: 0px;
	font-weight: 300;
}

.nav-item {
	font-size: 20px;
	font-weight: 300;
	margin-right: 8px;
	margin-left: 8px;
}

.navbar-nav{
	margin-right: 36px;
}

.navbar-toggler{
	margin-left: 10px;
	margin-right: 10px;
}

img {
	object-fit: cover;
	max-width:100%;
	min-height:100%;
	height: auto;
	width:auto;
	outline: 3px solid #443B36;
	outline-offset: -3px;
}

.mh-0{
	min-height:0;
}

video {
	object-fit: cover;
	max-width:100%;
	min-height:100%;
	height: auto;
	width:auto;
	outline: 3px solid #443B36;
	outline-offset: -3px;
}

.row > div {
	outline: 3px solid #443B36;
	outline-offset: -3px;
	background-size: cover;
}

.full-height{
	display: flex;
	height: calc(100vh - 75px);
	flex-direction: column;
}

.grow-height{
	flex: 1;
}

.centered-container{
	display: flex;
  	justify-content: center;
  	align-items: center;
}

.image-spacer{
	background-color: #a38f7d;
	outline: 3px solid #443B36;
	outline-offset: -3px;
}

.about-text{
	container-type: inline-size;
}

.chess-div{
	outline: 3px solid #443B36;
	outline-offset: -3px;
}
.chess-div * {
	background-color: #000000;
	outline: 0px;
}

.bg-d0 {
	background-color: #77685F !important;
}

.bg-d1 {
	background-color: #A38F7D !important;
}

.bg-d2 {
	background-color: #CDB8A3 !important;
}

.bg-l3 {
	background-color: #E4D4C3 !important;
}

.bg-l2 {
	background-color: #EEE2D6 !important;
}

.bg-l1{
	background-color: #F7F0E8 !important;
}

.bg-l0{
	background-color: #FAF5F0 !important;
}